<main class="h-screen">
  <div class="search sticky top-0 z-50 py-4 flex gap-4 justify-center items-center">
    <input type="text" [(ngModel)]="username" class=" outline-none rounded-lg p-2 bg-gray-200 border-current"
      placeholder="Enter GitHub username">
    <button (click)="searchRepositories()">serach</button>
    <br>
  </div>
  <div class="profile flex gap-4  items-center">
    <div class="img">
      <img src="{{user.avatar_url}}" class="rounded-full border-2 border-gray-400 p-2 h-24" alt="">
    </div>
    <div class="info">
      <p>{{user.name}}</p>
      <p>{{user.bio}}</p>
      <p>{{user.location}}</p>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div *ngFor="let repo of repositories" class="col-md-6">
        <div class="p-4 border-2 rounded-md mb-4">
          <a [href]="repo.html_url" target="_blank" class="text-sky-400 font-bold text-2xl">{{ repo.name }}</a>
          <p>{{repo.description}}</p>
        </div>
      </div>
    </div>
  </div>

</main>